/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/images/about_blog.jpg
public/images/guitar_blog.jpg
public/images/project-jjhs.JPG
public/images/web_blog.jpg
template.xd
logo.xd
